
.hq-list {
    margin-bottom: 90px;

    li {
        display: inline-block;
        padding: 8px;
        
        img {
            width: 100%;
            height: 300px;
        }
    }
}

.card {
    text-align: center;

    .card-title {
        padding: 8px;
        display: inline-block;
        width: 100%;
    }

    .card-body {
        transition: $transition;
        cursor: pointer;

        img {
            border-radius: 3px;
            border: 2px solid $black;
            transition: $transition;
        }

        &:hover {
            color: $button-primary;

            img {
                border-color: $button-primary;
                transform: translateY(-6px);
                box-shadow: 0px 8px 7px #00000038;
            }
        }
    }
}

.hq-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;

    li {
        grid-template-columns: 40px 50px auto 50px 40px;
        grid-template-rows: 25% 100px auto;
    }
}

@media only screen and (max-width: 600px)  {
    .hq-list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.hq-like {
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input {
        opacity: 0;
        visibility: hidden;
    }

    input:checked ~ .custom-check {
        color: $button-primary;

        &:before {
            width: 30px;
            height: 30px;
            opacity: 1;
            filter: invert(100%);
        }
    }

    .custom-check {
        position: relative;

        &::after {
            content: '';
            width: 30px;
            height: 30px;
            margin-left: 8px;
            border-radius: 100%;
            display: inline-block;
            vertical-align: middle;
            background: url('../images/captan-america-logo-shield.png') center/cover no-repeat;
        }

        &::before {
            content: '';
            width: 60px;
            height: 60px;
            transition: $transition;
            position: absolute;
            top: 0;
            opacity: 0;
            right: 0;
            background: url('../images/spider-web.png') center/cover no-repeat;
        }
    }
}